{{define "content"}}
<div>
    {{with .Detail}}
    <h1>Sprint Name: {{.Name}}</h1>
    <h2>Start Date: {{.StartDate}}</h2>
    <h2>End Date: {{.EndDate}}</h2>
    <h3>Velocity Increase Goal Constant: 5%</h3>
    <table border="">
        <tr>
            <th>{{.EngineerHeader}}</th>
            <th>{{.AvailabilityThisSprintHeader}}</th>
            <th>{{.AvailabilityLastSprintHeader}}</th>
            <th>{{.CapacityByAvailabilityHeader}}</th>
            <th>{{.TargetPointsHeader}}</th>
            <th>{{.CommittedPointsThisSprintHeader}}</th>
            <th>{{.CommittedPointsLastSprintHeader}}</th>
            <th>{{.CompletedPointsLastSprintHeader}}</th>
            <th>{{.RunningVelocityHeader}}</th>
            <th>{{.LastSprintVelocityHeader}}</th>
        </tr>
    </table>
    <table border="">
        <tr>
            <th></th>
            <th>{{.TotalDaysAvailableHeader}}</th>
            <th>{{.TotalDaysAvailableLastSprintHeader}}</th>
            <th>{{.TotalCapacityByAvailabilityHeader}}</th>
            <th>{{.TotalTargetPointsHeader}}</th>
            <th>{{.TotalCommittedPointsHeader}}</th>
            <th>{{.TotalCompletedPointsHeader}}</th>
            <th>{{.TotalPointsCompletedLastSprintHeader}}</th>
        </tr>
        <tr>
            <td>{{.TotalsLineTitle}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    {{end}}


    <table border="">
        <tr>
            <th>Engineer</th>
            <th>Availability This Sprint</th>
            <th>Availability Last Sprint</th>
            <th>Capacity By Availability</th>
            <th>Target Points This Sprint</th>
            <th>Committed Points This Sprint</th>
            <th>Committed Points Last Sprint</th>
            <th>Completed Points Last Sprint</th>
            <th>Running Velocity</th>
            <th>Last Sprint Velocity</th>
        </tr>
        <tr>
            <td>Jessica</td>
            <td>10</td>
            <td>10</td>
            <td>100%</td>
            <td>6.25</td>
            <td>5</td>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Sreeni</td>
            <td>10</td>
            <td>10</td>
            <td>100%</td>
            <td>6.25</td>
            <td>5</td>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Evan</td>
            <td>10</td>
            <td>10</td>
            <td>100%</td>
            <td>6.25</td>
            <td>5</td>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Suneetha</td>
            <td>10</td>
            <td>10</td>
            <td>100%</td>
            <td>6.25</td>
            <td>5</td>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>0</td>
        </tr>
    </table>
    <table border="">
        <tr>
            <th></th>
            <th>Total Days Available</th>
            <th>Total Days Available Last Sprint</th>
            <th>Capacity By Availability</th>
            <th>Target Points</th>
            <th>Committed Points</th>
            <th>Completed Points</th>
            <th>Points Completed Last Sprint</th>
        </tr>
        <tr>
            <td>Totals</td>
            <td>34</td>
            <td>40</td>
            <td>85%</td>
            <td>21.85</td>
            <td>26</td>
            <td>13</td>
            <td>20</td>
        </tr>
    </table>
</div>
{{end}}