{{define "content"}}
<div>
    <h1>
        {{.DisplayName}}
    </h1>
    <div id="workstream-overview">
        <table id="workstream-overview-table">
            <tr>
                {{with .Overview}}
                <th>{{.NameTitle}}</th>
                {{range .SprintSummaries}}
                <th>{{.Name}}</th>
                {{end}}
            </tr>
            <tr>
                <td>{{.WorkingDaysTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.WorkingDays}}</td>
                {{end}}
            </tr>
            <tr>
                <td>{{.PointsCommittedTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.PointsCommitted}}</td>
                {{end}}
            </tr>     
            <tr>
                <td>{{.PointsAchievedTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.PointsAchieved}}</td>
                {{end}}
            </tr>
            <tr>
                <td>{{.TargetPercentageAchievedTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.TargetPercentageAchieved}}%</td>
                {{end}}
            </tr>
            <tr>
                <td>{{.ProductivityTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.Productivity}}%</td>
                {{end}}
            </tr>
            <tr>
                <td>{{.ProductivityChangeTitle}}</td>
                {{range .SprintSummaries}}
                <td>{{.ProductivityChange}}%</td>
                {{end}}
            </tr>
                {{end}}
        </table>
    </div>
    <div>
        <ul>
            <li>on page load display proper workstream team</li>
            <li>Select sprint from a dropdown</li>
            <li>display data trends on landing page</li>
            <li>edit sprint</li>
            <li>add sprint</li>
        </ul>
    </div>
</div>
{{end}}